.footer-about
  .container
    h1 About
    h3 Mission
      p At Chandler Christian Community Center, we change lives by nourishing minds and bodies to create a connected, thriving community.

    h3 Vision
      p To have a healthy and productive community built on a foundation of dignity and hope.
