.row
  .col-sm-12
    .jumbotron
      .container
        .row
          .slides
            .slide-blue
                h2 Food Bank
                p Giving Food to the Chandler Gilbert area
                a( href="#", class="button") Check it Out
            .slide-orange
                h2 FRC
                p Jargon ahwreponivawen anefvi
                a(href="#", class="button") Check it Out
            .slide-green
                h2 MixTape 
                p An appaefaevaeg aegfa gxtapes
                a( href="#", class="button") check it Out
      
          
