.jumbotron
  .container
    .row
      .slides
        .slide-one
            p test
        .slide-two
            p test
        .slide-three
            p test
        .slide-four
            h2 MixTape 
            p An appaefaevaeg aegfa gxtapes
            
