.row
  .col-sm-12
    .jumbotron
      .container
        .row
          .slides
            .slide-blue
                h2 DailyFeed
                p Your number one podcast app 
                a( href="#", class="button") Check it Out
            .slide-orange
              .grid-half
                h2 ChitChat
                p The worldest easiest to use cross device chat app</p>
                a(href="#", class="button") Check it Out
            .slide-green
                h2 MixTape 
                p An app to search, create and share mixtapes
                a( href="#", class="button") check it Out
      
          
