.navbar.navbar-default.navbar-static-top
  .container-fluid
    ul.nav.navbar-nav
      li.nav-link(ng-repeat="link in navLinks",
        ng-click="page.selectPage(link.page)",
        ng-class="{active: page.isSelected(link.page)}") 
        a {{link.name}}
