extends ./layouts/main.jade

block content
  include ./sections/foodbank.jade
  include ./sections/familyresources.jade
  include ./sections/cap.jade
  include ./sections/seniors.jade
  include ./sections/ihelp.jade
  
