extends ./layouts/main.jade

block content
  .row
    .col-sm-8.col-sm-offset-2(ng-repeat="sect in pages", ng-show="page.isSelected(sect.page)")
      p(contentEditable="true") {{sect.content}}
      text-angular(ng-model="editable")
