extends layout

block content
  .container
    .col-sm-6.col-sm-offset-3
      h1 
        span.login Login

     form(action="/login",method="post")
        .form-group
            label Email
            input(type="text", class="form-control", name="email")
        .form-group
            label Password
            input( type="password", class="form-control", name="password")

        button(type="submit", class="btn btn-warning btn-lg") Login

    hr

    p Or go <
      a( href="/") home
